# --- Logs and Databases ---
*.log


# --- Common Folders ---
dist/
build/
temp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/

# IDEs and Editors
.vscode/

# Unit test / coverage reports
.pytest_cache/

# Local environment variables
.env
.env.local

# My file
data_preprocess/output_csv/
data_preprocess/*.zip

# MediaPipe model files (large binaries, download separately)
models/*.task